@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
}

:root {
  font-family: var(--font-poppins);
  background-color: #e5e7eb;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(40px); /* Starts 40px to the right */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px); /* Starts 40px to the left */
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideRight {
  animation: slideInRight 0.5s ease-out forwards;
}

.animate-slideLeft {
  animation: slideInLeft 0.5s ease-out forwards;
}